	<link href="css/nuevo.css" rel="stylesheet" type="text/css" />
	<link href="css/estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div id="cabecera">
			Práctica 4: Lexical Analysis <span style="font-size:19px;color:gray"> Asignatura:</span> Procesadores de Lenguajes<br>
			<span style="font-size:22px; color:#553529">Profesor: Casiano Rodríguez León</span>
		</div>
		<div id="negro">
			<div id="volver">
				<a href="http://mdbgalvan.github.io/" target="_blank">alu3299</a> /
				<a href="http://itahisadzx2.github.io/" target="_blank">alu4061</a>
			</div>	
		</div>
	</header>

	<section>
	
		<ul class="nav">
			<li><a href="http://javascript.crockford.com/tdop/tdop.html" target="_blank">Tutorial Top Down Operator Precedence</a></li>
			<li><a href="https://github.com/ItahisaDzx2/PL_LAB04/tree/master" target="_blank">Repositorio GitHub</a></li>
			<li><a href="tests" target="_blank">Tests</a></li>
		</ul>

		<div id="titulillo">
			Operador de Precedencia Top Down. Análisis Léxico
		</div>

		<table class="uploadFile">
			<tr>
				<td></td>
				<td>También puede escribir su código en el área de texto:</td>
			</tr>
			<tr>
				<td>
					<p>Seleccione uno de los ficheros siguientes: </p>
					<nav>
						<button id="file" type="button" onclick="dump_get('assignment.txt');">input.txt</button>
						<button id="file" type="button" onclick="dump_get('expression.txt');" >input2.txt</button>
						<button id="file" type="button" onclick="dump_get('input3.txt');" >input3.txt</button>
					</nav>
				</td>
				<td>
					<textarea rows="7" autofocus id="INPUT">
var a = "hello"; // initialize a
var b = function(x) {
	var c = 3;
	return x+c;
};
					</textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input id="PARSE" value=parse type=button class="myButton">
				</td>
			</tr>
		</table>
		
		<div id="out" class="hidden">
			<table class="ini">
				<thead>
					<tr>
						<th>Original</th>
						<th>Tokens</th>
					</tr>
				</thead>
				<tbody class="scrollContent">
					<tr>
						<td>
						  <pre id="INIPUT"></pre>
						</td>
						<td>
						  <pre id=OUTPUT></pre>
						</td>
					</tr>
				</tbody>
			</table>
		</div>		
	  
	</section>
	
	<footer>
		<div id="vacio_arriba"></div>
		<div id="final_arriba">
			Volver a la Página Principal de <a href="http://mdbgalvan.github.io/" target="_blank">María</a>
			o de <a href="http://itahisadzx2.github.io/" target="_blank">Itahisa</a>
		</div>
		<div id="final_abajo">
			Realizado por: Itahisa M. Díaz Díaz y María D. Batista Galván
		</div>
		<div id="vacio_abajo"></div>	
	</footer>