<!DOCTYPE html>
<html>
<head>

    <title>Práctica 4: Analizador Léxico</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="images/logo.png">
	<!-- CSS -->
	<link href="css/global.css" rel="stylesheet" type="text/css">
	<!-- JAVASCRIPT -->
	<script src="js/parse.js"></script>
	<script src="js/tokens.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body> 
	<%= yield %>
</body>
</html>
