	<link rel="stylesheet" href="css/mocha.css" />
</head>
<body>
		<div id="mocha"></div>
		
		<script src="js/parse.js"></script>
		<script src="js/tokens.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/load.js"></script>
		
		<script src="tests/chai.js"></script>
		<script src="tests/mocha.js"></script>
		
		<script>mocha.setup('tdd')</script>
		<script src="tests/tests.js"></script>
		
		<script>
			mocha.run();
		</script>
