		<div id="mocha"></div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="chai.js"></script>
		<script src="mocha.js"></script>
		<script>mocha.setup('tdd')</script>
		<script src="tests.js"></script>
		<script src="../js/load.js"></script>
		<script src="../js/tokens.js"></script>
		<script src="../js/main.js"></script>
		<script src="../js/parse.js"></script>
		<script>
			mocha.run();
		</script>
