	<link rel="stylesheet" href="css/mocha.css" />
	<link href="../css/estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
		<div id="mocha"></div>
		
		<!--<script src="js/parse.js"></script>
		<script src="js/tokens.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/load.js"></script>-->
		
		<script src="tests/chai.js"></script>
		<script src="tests/mocha.js"></script>
		
		<script>mocha.setup('tdd')</script>
		<script src="tests/tests.js"></script>
		
		<script>
			mocha.run();
		</script>
		
		<!-- Voy a utilizar esto para los tests -->
		
		<br>
		<table class="uploadFile">
			<tr>
				<td>
					<p>Seleccione uno de los ficheros siguientes: </p>
					<nav>
						<button id="file" type="button" onclick="dump_get('assignment.txt');">input.txt</button>
						<button id="file" type="button" onclick="dump_get('expression.txt');" >input2.txt</button>
						<button id="file" type="button" onclick="dump_get('input3.txt');" >input3.txt</button>
					</nav>
				</td>
				<td>
					<textarea rows="7" autofocus id="INPUT">
var a = "hello"; // initialize a
var b = function(x) {
	var c = 3;
	return x+c;
};
					</textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input id="PARSE" value=parse type=button class="myButton">
				</td>
			</tr>
		</table>
		
		<div id="out" class="hidden">
			<table class="ini">
				<thead>
					<tr>
						<th>Original</th>
						<th>Tokens</th>
					</tr>
				</thead>
				<tbody class="scrollContent">
					<tr>
						<td>
						  <pre id="INIPUT"></pre>
						</td>
						<td>
						  <pre id=OUTPUT></pre>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
		

